<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.route.datasource.repository.root.RootMapper">

		<select id="selectDatabaseInfo"
				resultType="com.route.datasource.model.RouteDatabaseInfo">
				SELECT ID, NAME 
				FROM TB_ROUTE_DATABASE
		</select>

</mapper>